@import '../../index.scss';
@import '../../../generalsass/responsive.scss';


.hero_container{
   @include page_margin;
    height: calc(100vh - 150px);
    @include centeredElement;
    padding: 20px 0px;
     margin: 2rem auto;

    border: 4px solid var(--primary-color);
    border-radius: 2.5rem;

    @include small{
        display: flex;
        flex-direction: column;
        padding: 10px auto;
        border: none;
        border-radius: 0;
        height: auto;
        gap: 1rem;
        margin: 0 auto;
    }


    .hero_text_container{
       flex: 2;
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       position: relative;
       padding: 1rem;


       h1{
        position: absolute;
        top: 60px;
        font-size: 35px;
        padding: 10px;

        span{
            color: var(--secondary-color);
        }

        @include medium{
            font-size: 30px;
        }

        @include small{
            position: initial;
        }
       }

       button{
        display: inline-block;
        width: 200px;
        padding: 12px 20px;
        border-radius: 6px;
        position: absolute;
        left: 20px;
        bottom: 130px;
        background-color: var(--primary-color);
        color: var(--background-color);
        border: none;

        @include small{
            position: initial;
            margin-left: 10px;
            margin: 1.5rem 10px;
        }
       }
    }

    .hero_image_container{
      flex: 2;

      @include small{
          margin: 4rem 0px;
      }
     


      img{
        width: 100%;
        height: auto;
        border-radius: 1rem;

        @include small{
        height: 100%;
      }
      }
    }
}