@import '../../index.scss';
@import '../../../generalsass/responsive.scss';


.profile_main_container {
    @include page_margin;
    padding: .5rem;
    margin-top: 3rem;

    @include x-small{
        margin-top: 2rem;
    }

    .profile_top_section {
        width: 80%;
        margin: 0 auto;
        @include centeredElement;
        
        @include small{
            @include centerVertical;
        }


        .profile_details_left {
            flex: 3;
            padding: .5rem;
            display: flex;
            

            @include small{
                @include centerVertical;
                text-align: center;
            }

            img {
                width: 250px;
                height: 260px;
                border-radius: 10px;

                @include small{
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                }

            }

            .profile_credentials {
                
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                >div:nth-child(1) {
                   flex: 4;
                   padding: .5rem;

                   h2{
                    font-size: 35px;

                    @include x-small{
                        font-size: 30px;
                    }
                   }

                   h4{
                    color: gray;
                    font-size: 20px;
                   }
                }

                >div:nth-child(2) {
                   flex: 1;
                   display: flex;
                   justify-content: space-between;
                   padding: .5rem;
                   color: gray;
                }
            }
        }

        .profile_details_right {
            flex: 1;
            width: 120%;
            display: flex;
            flex-direction: column;
            gap: 2.2rem;

            @include small{
                gap: 3rem;
                justify-content: space-between;
            }

            @include small{
                flex-direction: row
            }

            .p_icons{
                @include centerVertical;

                .icon{
                    font-size: 28px;
                }
            }
        }
    }

    .profile_midle_section{
        width: 80%;
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-top: 2.5rem;
        gap: 1rem;


         @include x-small{
            margin-top: 5rem;
        }
    }

    .profile_bottom_section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 3rem;
        gap: 10px;


        @include x-small{
            margin-top: 5rem;
        }
    }
}