@import '../../index.scss';
@import '../../../generalsass/responsive.scss';


.login_main_container{
    height: 100vh;

    h1{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }


    form{
        align-items: start;
        .div{

            .check{
                font-weight: 450;
                background-color: aliceblue;
            }
        }
    }
}